# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

## ESP-IDF

# Project-specific
build/
managed_components/
sdkconfig
sdkconfig.old
sdkconfig.defaults
sdkconfig.defaults.old
sdkconfig.defaults.old.old

# General
.vscode/
.DS_Store
.idea/
.vscode/